.mainDivFaq {
  padding-top: 30px;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  background-color: aliceblue;
  line-height: 150%;
}
.mutedText {
  color: lightgrey;
}
.borderBottom {
  border-bottom: 1px solid gray;
}
.dullAnchor{
    text-decoration: none;
    color: black;
}