.innerMisTxTable {
  margin: 20px auto 0px auto;
  border-spacing: 0px;
}
.innerMisTxTable td,
.innerMisTxTable th {
  border: 1px solid lightgray;
}
.clickableNoUnderline {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}
.divIgnoringMiners {
  margin-bottom: 20px;
}
