.positionTable {
  border-spacing: 0px;
  border-collapse: collapse;
  margin: 20px auto ;
}
.positionTable td,th {
  border: 1px solid black;
  border-spacing: 0px;
  padding: 0px 5px;
}
.positionTable tr:nth-child(even) {
  background-color: lightgray;
}
