.clickable {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.graphTable {
  margin: 0 auto;
  border-spacing: 0px;
  padding-bottom: 5px;
}

.graphTable td {
  border: 1px solid lightgray;
}
