.mainDivFaq {
  padding-top: 30px;
  text-align: left;
  width: 60%;
  margin: 0 auto;
  background-color: aliceblue;
  line-height: 150%;
}
.mutedText {
  color: lightgrey;
}
.borderBottom {
  border-bottom: 1px solid gray;
}
.dullAnchor {
  text-decoration: none;
  margin-left: 15px;
  color: black;
}
p {
  margin-left: 35px;
}
.indentedTable {
  margin-left: 65px;
}
.indentedTable td {
  border: 1px solid lightgray;
  padding-right: 15px;
}
.cursive {
  font-style: italic;
}

@media only screen and (max-width: 1200px) {
.mainDivFaq {
  width: 75%;
}
}
@media only screen and (max-width: 700px) {
.mainDivFaq {
  width: 90%;
}
}
