.txSelAlgo {
  margin-top: 20px;
}
.divInfoIgnBlocks {
  margin-top: 20px;
}
.divExpIgnBlocks {
  margin: 20px auto;
  font-size: 14px;
}
.divExpIgnBlocks td {
  text-align: left;
}

@media only screen and (max-width: 700px) {
.divExpIgnBlocks td {
  text-align: center;
}
}
